header {
  background-color: #111b36;
  width: 100%;
}

.btn {
  border: 0;
  border-radius: 999px;
  padding: 10px 18px;
  font-weight: 700;
  cursor: pointer;
}
.btn.primarys {
  background: #38ba5c;
  color: #0f172a;
  padding: 6px 14px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  width: 185px;
  font-family: 'Montserrat', sans-serif;
}
.btn.ghost {
  background: white;
  color: #0f172a;
  border: 1px solid #cbd5e1;
  padding: 6px 14px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  width: 137px;
  font-family: 'Montserrat', sans-serif;
}
.nav {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 5rem;
  justify-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1500px) {
  .nav {
    margin: 0 auto;
    justify-self: center;
  }
}
.nav .logo {
  height: 30px;
}
.nav .links {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #e5eaf0;
  margin-left: 5rem;
}

.nav .links a {
  white-space: nowrap;
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #e5eaf0;

  &.active-link {
    color: #38bdf8;
  }

  &:hover {
    color: #38bdf8;
  }
}

.nav .actions {
  display: flex;
  gap: 12px;
  margin-left: 2.5rem;
}

.hamburger {
  display: none;
  background: #fff;
  border: 0;
  color: #44474b;
  font-size: 20px;
  margin-left: auto;
  width: 35px;
  padding: 2px 0px;
  border-radius: 5px;
}

.productOffering {
  position: relative;
  cursor: pointer;

  .productOfferingOptions {
    position: absolute;
    list-style: none;
    background-color: #fbfbfb;
    border: none;
    color: #030508;
    border-radius: 10px;
    font-size: 14px;
    /* height: 132px; */
    width: 143px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 22px;
    z-index: 10;

    li {
      padding: 6px 10px;
      color: #030508;

      &:hover {
        color: #38bdf8;
      }
    }
  }
}

@media (max-width: 1025px) {
  .btn.primarys,
  .btn.ghost {
    width: auto;
    padding: 8px 12px;
    font-size: 12px;
  }
  .nav {
    padding: 12px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
  }
  .nav .logo {
    height: 28px;
  }
  .nav .links {
    display: none;
  }
  .nav .wider-screens {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .footer__brand {
    display: block;
  }
  .mobile-menu {
    position: relative;

    .mobile-menu-list {
      position: absolute;
      list-style: none;
      background: linear-gradient(to right, #111b36, #365073);
      border: none;
      padding: 10px;
      width: calc(100dvw - 0.5rem);
      height: 300dvh;
      right: -0.5rem;
      top: 3rem;
      z-index: 9999;
      cursor: pointer;
      padding-top: 2rem;
      padding-left: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: lightgray;

      .productOfferingOptions {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 1rem;
      }

      a {
        padding: 5px;
        color: lightgray;
        font-size: 20px;
        letter-spacing: 2.5px;
        text-decoration: none;

        &:hover {
          color: blue;
        }
      }
      .actions {
        flex-direction: column;
        margin-left: 0;

        .btn {
          width: 20rem;
        }
      }
      .actions .mobile {
        display: block;
        flex-direction: column;
      }

      .footer__brand {
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .logo {
          height: 30px;
          width: 140px;
        }

        .footer__socials {
          display: flex;
          gap: 1rem;
          align-items: center;

          .social {
            width: 36px;
            height: 36px;
            background: #334155;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
              color: #fff;
              font-size: 16px;
            }
          }
        }
      }

      .contact {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}
