<main>
 <ul class="sections">
    <div style="width: 10rem">
       <img src="assets/Surebase-hero.png" alt="logo" style="width: 100%;" />
    </div>
    <li>Built to Back the insurance Stack</li>
    <ul class="social-media">
      <li class="social-icon">
         <img src="assets/Facebook.png" alt="">
      </li>
      <li class="social-icon">
         <img src="assets/X logo.png" alt="">
      </li>
      <li class="social-icon">
         <img src="assets/Instagram.png" alt="">
      </li>
      <li class="social-icon">
         <img src="assets/LinkedIn.png" alt="">
      </li>
    </ul>
 </ul>
 <ul class="sections">
    <h2>Company</h2>
    <li>About Us</li>
    <li>FAQs</li>
    <li>Contact</li> 
 </ul>
 <ul class="sections">
    <h2>Solutions</h2>
    <li>Insurers</li>
    <li>Brokers & Partners</li>
 </ul>
 <ul class="sections">
    <h2>Legal</h2>
    <li>Terms of Use</li>
    <li>Privacy Policy</li>
 </ul>
 <ul class="sections">
    <h2>Contact</h2>
    <li>Info@surebase.it</li>
    <li>+2349187439803 (9:00AM - 5:00PM)</li>
    <li>Adeniji Jones, Ikeja GRA, Lagos</li>
 </ul>
</main>

