
.fragmented-section{
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  margin-left: 3rem;
  align-items: center;
  margin-bottom: 5rem;


  .text-area{
    width: 400px;
    font-size: 14px;
    height: 200px;
    
    h2{
      margin-left: -2.5rem;
      font-family: "Space Grotesk", sans-serif;
      margin-bottom: 1rem;
      color: #1c5d2e;
    }

    ul{
      margin-left: -1rem;

      li{
        margin-bottom: 0.5rem;
      }
    }
  }

  img{
    width: 700px;
    height: 200px;
  }
}



@media (max-width: 768px) {
  .fragmented-section{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 1rem;
    margin-left: 0;
    margin-bottom: 0;

    .text-area{
      width: 350px;
      font-size: 14px;
      height: 200px;
      margin-left: 0rem;
      margin-top: 2.5rem;
    
    h2{
      margin-left: 1rem;
    }

    ul{
      margin-left: 2rem;

      li{
        margin-bottom: 0.5rem;
        width: 300px;
      }
    }
  }

    img{
      width: 350px;
      height: 200px;
    }
  }

}