<main>
  <div class="text-area">
   <h2>Ready to Simplify Your Operations and Scale Your Business?</h2>
   <span style="display: inline-block; margin-top: 1rem;">End the complexity of fragmentation. Start building your future. Surebase provides the seamless infrastructure you need to connect, grow, and lead in the digital age of insurance.</span>
   <div class="input-getStarted">
       <input type="text" placeholder="Type your email">
       <button class="get-started-email">Get Started</button>
     </div>
  </div>

  <img src="assets/absolute-logo.png" alt="image" class="img-bottom-left">
  <img src="assets/absolute-logo.png" alt="image" class="img-top-right">

</main>