.fragmented-section {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem 0 1.5rem 3rem;
  align-items: center;
  margin-bottom: 5rem;

  .text-area {
    width: 450px;
    font-size: 15px;
    height: 200px;

    h2 {
      margin-left: -2.5rem;
      font-family: 'Space Grotesk', sans-serif;
      margin-bottom: 1rem;
      color: #1c5d2e;
      font-size: 30px;
    }

    ul {
      margin-left: -1rem;

      li {
        margin-bottom: 0.5rem;
        line-height: 20px;
      }
    }
  }

  img {
    width: 650px;
    height: 250px;
  }
}

.distribution {
  text-align: center;
  padding: 1.5rem;
  /* margin-top: 2.5rem; */

  h2 {
    font-size: 25px;
    font-family: 'Space Grotesk', sans-serif;
    color: #1c5d2e;
  }
}

@media (max-width: 760px) {
  .fragmented-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 2rem;

    .text-area {
      width: 300px;
      font-size: 14px;
      height: 200px;
      margin-left: 0rem;
      margin-top: 0rem;

      h2 {
        margin-left: -0.5rem;
        font-size: 20px;
      }

      ul {
        margin-left: 1rem;

        li {
          margin-bottom: 0.5rem;
          width: 300px;
        }
      }
    }

    img {
      width: 300px;
      height: 200px;
    }
  }
  .distribution {
    padding: 3rem 0;

    h2 {
      margin: 1.5rem 0 1rem 0;
    }
  }
}

@media (min-width: 767px) and (max-width: 1025px) {
  .fragmented-section {
    display: flex;
    padding: 0;
    align-items: center;
    gap: 1rem;
    margin-left: 0;
    margin-bottom: 0;

    .text-area {
      width: 410px;
      font-size: 14px;
      height: max-content;
      margin-left: 0rem;
      margin-top: 1.5rem;

      h2 {
        margin-left: 1rem;
      }

      ul {
        margin-left: 2rem;

        li {
          margin-bottom: 0.5rem;
          width: 400px;
        }
      }
    }

    img {
      width: 350px;
      height: 250px;
    }
  }

  .distribution {
    text-align: center;
    padding: 1.5rem;
    margin-top: 5rem;

    h2 {
      font-size: 30px;
    }
    span {
      font-size: 18px;
    }
  }
}
