<section>
    <div class="who-surebase-serves">
     <img src="assets/surebase-icon.png" alt="icon">
     <span>Who Surebase Serves?</span>
   </div>

   <div style="display: flex; flex-direction: column; margin-top: 1.5rem; gap: 0.5rem;">
    <span class="h1">Built For Your Business</span>
    <span>Surebase empowers every player in the insurance distribution chain.</span>
   </div>

   <main>
      <div class="detail-item">
        <img src="assets/Brokers-Aggregatos.png" alt="">

        <div>
           <h2>For Brokers & Aggregators</h2>
          <span>
            No more managing multiple integrations or contracts.
            Access thousands of diverse insurance products through a single, powerful API. Streamline your workflow and offer more to your clients.
          </span>
        </div>
      </div>

      <div class="detail-item">
         <img src="assets/insurer-without-api.png" alt="">

        <div>
           <h2>For Liscenced Insurers Without APIs</h2>
          <span>Digitize your offerings and reach a wider market with ease. Our intuitive dashboard enables your to list and manage your products directly on the Surebase platform, no prior online presence required.</span>
        </div>
      </div>
      
      <div class="detail-item">
         <img src="assets/insurer-with-api.png" alt="">

        <div>
           <h2>For Liscenced Insurers With APIs</h2>
          <span>Extend your market presence and connect with an expansive network of digital distribution partners through the Surebase ecosystem. Leverage our infrastructure to scale your existing offerings.</span>
        </div>
      </div>

   </main>
   
</section>