<section class="build-the-future">
  <div class="text-box">
  <h3>Ready to Build the Future with Us? </h3>
  <span>
    Discover how Surebase can transform your insurance distribution and unlock new possibilities for growth.
  </span>

    <div class="input-getStarted">
      <input type="text" placeholder="Type your email">
      <button class="get-started-email">Get Started</button>
    </div>

  </div>

  <img src="assets/Mask group.png" alt="image" class="desktop">
  <img src="assets/Mask group (1).png" alt="image" class="mobile">

</section>
