.build-the-future{
  background-color: #d7f2fe;
  display: flex;
  align-items: center;
  height: 300px;
  width: 100%;
  gap: 10%;
  margin-top: 2rem;
    
  .text-box{
     width: 40%; 
     margin-left: 10rem;
    h3{
      font-size: 25px;
      color: mediumseagreen;
      font-weight: bold;
      font-family: "Space Grotesk", sans-serif;
    }
  }

    
   .input-getStarted{
    margin-top: 1rem;
    display: flex;

      input{
        padding: 8px 5px;
        width: 77%;
        border: none;
        border-radius: 5px 0 0 5px;
        background: white;

        &:focus{
            outline: none;
          }
      }
    }
    .get-started-email{
    padding: 5px 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background: #38BA5C;

    }

    .desktop{
      height: 100%;
      width: 50%;
    }
    .mobile{
     display: none;
    }
}


@media (max-width: 768px) {
 .build-the-future{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: max-content;
    width: 100%;
    margin-top: 2rem;
      
    .text-box{
      margin-top: 1rem;
      width: 90%; 
      margin-left: 1rem;

      h3{
        text-align: center;
      }
    }

      
    .input-getStarted{
      margin-top: 1rem;
      display: flex;

      input{
        padding: 8px 5px;
        width: 70%;

        &:focus{
          outline: none;
        }
      }
      }
      .get-started-email{
      padding: 5px;
      }

      .mobile{
        display: block;
        height: 100%;
        width: 100%;
      }
      .desktop{
       display: none;
      }
  }
}